body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
}
.top-banner{
    background: linear-gradient(to right, #bd0000, #00009a);
    width: 100%;
    height: 65px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 10 px;
}
.logo {
    height: 50px;  /* Размер логотипа */
    position: absolute;
    top: 5px;
    left: 10px;
}